.main {
  color: white;
  height: 136.8rem;
  background-color: aqua;
  .survival {
    margin: 0 auto;
    border: 3px white solid;
    background-color: #02160b;
    &__inner {
      margin: 0 auto;
      height: 77.9rem;
      max-width: 144rem;
      border: 3px white dashed;
      &__content {
        margin: 0 auto;
        max-width: 120rem;
        border: 3px white dashed;
      }
    }
  }
}