.main {
  color: blue;
  height: 136.8rem;
 
  .survival {
    margin: 0 auto;
    background-color: #02160b;
    
    &__inner {
      margin: 0 auto;
      height: 77.9rem;
      max-width: 144rem;
      background-image: url('../../assets/images/survival/bg_Rectangle.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &__content {
        margin: 0 auto;
        max-width: 120rem;
      }
    }
  }
}