/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  width: 144rem;
  font-family: 'Open Sans', sans-serif;
}

.header {
  padding: 2rem 0;
  margin-bottom: -10.1rem;
}

.header__inner {
  max-width: 144rem;
  margin: 0 auto;
}

.header__inner__content {
  margin: 0 auto;
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner__content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner__content .logo__svg {
  margin-right: 1.5rem;
}

.header__inner__content .logo__text {
  font-size: 3.2rem;
  line-height: 6rem;
  color: #F7F7F7;
  text-transform: uppercase;
}

.header__inner__content .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner__content .nav__links__item .link {
  font-size: 2.4rem;
  line-height: 6rem;
  text-decoration: none;
  color: #F7F7F7;
}

.header__inner__content .nav__links__item .link .search {
  vertical-align: middle;
}

.header__inner__content .nav__links__item .link.sign-in {
  font-family: 'Roboto', sans-serif;
  padding: 0.9rem 2.3rem;
  line-height: 2.7rem;
  border: 0.2rem solid #CD6326;
  border-radius: 0.5rem;
}

.header__inner__content .nav__links__item .link.sign-in:hover {
  background-color: #CD6326;
}

.header__inner__content .nav__links__item .link.sign-in:active {
  background-color: #8F5613;
  border: 0.2rem solid #8F5613;
}

.header__inner__content .nav__links li + li {
  margin-left: 6rem;
}

.main .survival {
  margin: 0 auto;
  background-color: #02160b;
}

.main .survival__inner {
  margin: 0 auto;
  padding-bottom: 24rem;
  max-width: 144rem;
  background-image: url("../../assets/images/survival/bg_Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main .survival__inner__content {
  margin: 0 auto;
  max-width: 120rem;
}

.main .survival__inner__content__article {
  padding-top: 20rem;
}

.main .survival__inner__content__article__h1 {
  color: #CD6326;
  font-size: 4.8rem;
  line-height: 7.2rem;
  letter-spacing: 0.2rem;
}

.main .survival__inner__content__article__text {
  margin-top: 5.1rem;
  max-width: 27.4rem;
  color: #F7F7F7;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.main .survival__inner__content__article__btn {
  padding: 1.6rem 4.3rem 1.7rem 4.3rem;
  margin-top: 4.9rem;
  outline: none;
  border: none;
  background-color: #CD6326;
  border-radius: 0.5rem;
  cursor: pointer;
}

.main .survival__inner__content__article__btn .btn-text {
  color: #F7F7F7;
  font-size: 2.3rem;
  line-height: 2.7rem;
}

.main .survival__inner__content__article__btn:hover {
  background-color: #E39128;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .survival__inner__content__article__btn:active {
  background-color: #8F5613;
}

.main .latest-articles {
  background-color: #cccccc;
}

.main .latest-articles__inner {
  margin: 0 auto;
  max-width: 144rem;
}

.main .latest-articles__inner__content {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .latest-articles__inner__content__caption_h2 {
  margin-bottom: 2rem;
  color: #333333;
  font-size: 4.8rem;
  line-height: 7.2rem;
}

.main .latest-articles__inner__content__caption_sh2 {
  margin-bottom: 12rem;
  color: #666666;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.main .latest-articles__inner__content .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .latest-articles__inner__content .slider .btn-left {
  margin-right: 3.2rem;
}

.main .latest-articles__inner__content .slider .btn-left:hover {
  cursor: pointer;
}

.main .latest-articles__inner__content .slider .btn-left:hover svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: black;
}

.main .latest-articles__inner__content .slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.main .latest-articles__inner__content .slider .slides .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3rem solid transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100% / 3);
  height: 36rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.main .latest-articles__inner__content .slider .slides .slide__inner {
  padding-top: 20.6rem;
}

.main .latest-articles__inner__content .slider .slides .slide__inner__caption {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  line-height: 3.6rem;
  color: #F7F7F7;
  text-transform: capitalize;
  text-align: center;
}

.main .latest-articles__inner__content .slider .slides .slide__inner__text {
  text-align: center;
  color: #F7F7F7;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.main .latest-articles__inner__content .slider .btn-right {
  margin-left: 3rem;
}

.main .latest-articles__inner__content .slider .btn-right:hover {
  cursor: pointer;
}

.main .latest-articles__inner__content .slider .btn-right:hover svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: black;
}

.main .get-notified {
  background-color: #cccccc;
}

.main .get-notified__inner {
  margin: 0 auto;
  max-width: 144rem;
}

.main .get-notified__inner__content {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 24rem;
  padding-bottom: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .get-notified__inner__content .caption {
  margin-bottom: 6rem;
  color: #333333;
  font-size: 2.7rem;
  line-height: 4.05rem;
}

.main .get-notified__inner__content .form {
  font-size: 0;
}

.main .get-notified__inner__content .form .email {
  padding: 1.6rem 1.7rem;
  height: 6rem;
  border-radius: 0.3rem 0 0 0.3rem;
  width: 54rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  line-height: 2.7rem;
  outline: none;
  border: none;
  color: #666666;
}

.main .get-notified__inner__content .form .btn-send {
  padding: 1.6rem 3.4rem;
  height: 6rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  line-height: 2.7rem;
  outline: none;
  border: 0.1rem solid #CD6326;
  background-color: #CD6326;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #F7F7F7;
}

.footer {
  color: white;
  background-color: #181617;
}

.footer__inner {
  max-width: 144rem;
  height: 35.9rem;
  margin: 0 auto;
  border: 3px white solid;
}

.footer__inner__content {
  margin: 0 auto;
  color: white;
  max-width: 120rem;
  border: white dashed 2px;
}
/*# sourceMappingURL=main.css.map */