/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  width: 144rem;
  font-family: 'Open Sans', sans-serif;
}

.header {
  font-size: 2rem;
  background-color: #333;
}

.header__inner {
  max-width: 144rem;
  margin: 0 auto;
}

.header__inner__content {
  margin: 0 auto;
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner__content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner__content .logo__svg {
  margin-right: 1.5rem;
}

.header__inner__content .logo__text {
  font-size: 3.2rem;
  color: #F7F7F7;
  text-transform: uppercase;
}

.header__inner__content .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner__content .nav__links__item .link {
  text-decoration: none;
  color: #F7F7F7;
}

.header__inner__content .nav__links li + li {
  margin-left: 6rem;
}

.main {
  color: blue;
  height: 136.8rem;
}

.main .survival {
  margin: 0 auto;
  background-color: #02160b;
}

.main .survival__inner {
  margin: 0 auto;
  height: 77.9rem;
  max-width: 144rem;
  background-image: url("../../assets/images/survival/bg_Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main .survival__inner__content {
  margin: 0 auto;
  max-width: 120rem;
}

.footer {
  color: white;
  background-color: #181617;
}

.footer__inner {
  max-width: 144rem;
  height: 35.9rem;
  margin: 0 auto;
  border: 3px white solid;
}

.footer__inner__content {
  margin: 0 auto;
  color: white;
  max-width: 120rem;
  border: white dashed 2px;
}
/*# sourceMappingURL=main.css.map */